body
.App{
  // height: 100vh;
}
.top{
  display: flex;

}
.sidebar{
  width: 302px;
  height: 1036px;
  background-color: white;
  padding-left: 15px;
  
}
.view{
  width: 1000px;
}
.topbar{
  height: 97px;
  width: 1000px;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;

}
.elements{
  // height: 85%;
  // border: 1px solid blue;
}
.directory{
  width: 400px;
  height: 24px;
  margin-left: 98px;
}
.elementswindow{
  width: 850px;
  height: 612px;
  background-color: white;
  margin: auto;
}
.footer{
  height: 58px;
  background-color: #2D416F;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
.switch{
  display: flex;
  line-height: 3px;
  font-size: 14px;
  margin-top: 50px;
  color: #2D416F;
  
}
.switchdrop{
  position: relative;

}
.bold{
  font-weight: 700;
}
.switchimg{
  margin-top: 10px;
  margin-right: 15px;
}
.dropdown{
  margin-top: 10px;
  margin-left: 50px;
}
.switchlist{
  margin-left: 35px;
  color: #2D416F;
  display: none;
  // position: absolute;
}
.switchitem{
  border-bottom: 1px solid rgb(238, 236, 236);
  width: 180px;
  
}
.switchdrop:hover .switchlist{
  display: block;
}
.menuitem{
  display: flex;
  color: #818DA9;
}
.dashimg{
  margin-top: 18px;
  margin-right: 5px;
}
.menuitems{
  padding-left: 10px;
}
.elementbtn{
  background-color: #4BAA79;
  color: white;
  border-radius: 10px;
}
.elementsmenu{
  color: #818DA9;
  display: none;
}
.elementdrop:hover .elementsmenu{
  display: block;
}
.elementsmenuitem{
  margin-top: 5px;
  height: 40px;
  border-radius: 10px;
}
.elementsmenuitem:hover{
  background-color: #F3FFF1;
  color: #2D416F;
}
.menuitems2{
  border-top: 1px solid #F3FFF1;
  margin-top: 30px;
}
.org{
  margin-top: 0;
  background-color: #F3FFF1;
  width: 244px;
  height: 57px;
}
.searchcomp{
  width: 354px;
  height: 57px;
  margin-left: 20px;
  // border: 1px solid red;
}
.search{
  height: 57px;
  border: 1px solid #F3FFF1;
  width: 70%;
  
}
.searchbtn{
  height: 57px;
  width: 20%;
  background-color: #4BAA79;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px ;
}
.bell{
  padding-top: 20px;
  margin-left: 50px;
}
.userdetails{
  margin-left: 70px;
  background-color: transparent;
}
.elementstab{
  background-color: #F4F6F8;
  height: 72px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 90%;
  margin: auto;
}
.elementsearch{
  display: flex;
  
}
.filter{
  margin-top: 8px;
}
.createelementbtn{
  background-color: #4BAA79;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
}
.noelements{
  width: 273px;
  height: 194px;
  margin: auto;
  margin-top: 150px;
}